<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"> 
      <br>
      <h1>User login</h1>
      <form class="form-horizontal" ng-submit="userLogin()">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 ">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="login.email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 ">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="login.password" required>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="message">{{message}}</div>

        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </form>      
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>



